<h1><%=@user.name%>'s Lists</h1>
<%= link_to "New Todo", new_todo_path(@todo), class: 'btn btn-success' %>
<div class="col-md-4">
  <% @todos.each do |todo| %>
       <table class="table table-striped table-hover ">
    <%= todo.title %>
    <% if policy(todo).destroy? %>
      <%= link_to "Delete", [todo], method: :delete %> 
    <% end %>
     <tbody>
    <%= render partial: 'items/item', collection: todo.items %>
       </tbody>
    </table> 

  <% end %>