
<table class="table table-striped table-hover ">
<%= todo.title %>
<%= link_to "Delete", todo, method: :delete%> 
  <tbody>
    <tr>
      <td>1</td>
      <td></td>
      <td><%= item.description %></td>
    </tr>
    <tr>
      <td>2</td>
      <td><%= item.due_date %></td>
      <td>Column content</td>
    </tr>
    <tr>
    <%= form_for [ todo, todo.items.new] do |f| %>
    <div class="form-group">
      <label class="col-xs-2">
       <%= f.label :description%>
      </label>
        <div>
          <%= f.text_field :description, class: 'col-md-3'%>
          <%= f.submit "Create Task", class: 'btn-sm btn-default'%>
      </div>
    </div>
    <% end %>
  </tr>
  </tbody>
</table> 
