<!DOCTYPE html>
<html>
<head>
  <title>Taskle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <div class = "container">
      <div class="navbar navbar-default">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><%= link_to "Taskle", root_path, class: 'btn btn-default' %></li>
    </ul>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
    <li><%= link_to "To Do List", users_path, class: 'btn btn-default'  %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li>
        <%= link_to destroy_user_session_path, method: :delete, class: 'btn-sm btn btn-primary' do %>
          <span>log out</span>
          <% end %>
        </li>
        <% else %>
            <li> <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default'%> </li>
            <li> <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> </li>
        <% end %>
    </li>
    </ul>
  </div>
</div>
<div class = "container">      
        <% if flash[:notice] %>
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
             <%= flash[:error] %>
          </div>
        <% elsif flash[:alert] %>
           <div class="alert alert-warning">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <%= flash[:alert] %>
           </div>
        <% end %>

      <%= yield %>
    </div>

  </body>
</html>
